<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>投票信息管理</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="css/sidebar.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <!-- jquery vendor -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/voteconfig.js"></script>
    <style>
        .leftnav h5{
            font-size:20px;
            color: #F6F7F9;
            font-weight: lighter;
            background: #1d6298;
        }
    </style>
</head>

<body>

<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo"><a href="index.html"><span>投票信息管理</span></a></div>
            <ul class="leftnav">
                <li>
                    <!--<i class="ti-home">投票管理</i>-->
                    <h5>投票管理</h5>
                    <a href="/votemgt/voteMgtPage/votePage" target="vote_content_iframe">添加投票</a>
                    <a href="/votemgt/voteMgtPage/showVotePage" target="vote_content_iframe">查看投票</a>
                </li>
                <li>
                    <h5>用户管理</h5>
                    <a href="/voteMgtPage/userPage">用户管理</a>
                </li>
                <li>
                    <h5>投票统计</h5>
                    <a href="/voteMgtPage/countPage">投票统计</a>
                </li>
                <li>
                    <h5>日志管理</h5>
                    <a href="/voteMgtPage/logPage">日志管理</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
        </div>
        <!-- /# row -->
        <section id="main-content">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title pr">
                        <p  style="text-align: right"><span id = "login-user-name" style="color: red" th:text="${name}"></span>&nbsp;&nbsp;<a href="logout">退出</a></p>
                        <iframe name="vote_content_iframe"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
</body>

</html>