<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- jquery vendor -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="card-body">
        <div class="table-responsive">
            <div class="ibox-title">
                <h3>日志管理</h3>
            </div>
            <table class="table student-data-table m-t-20">
                <thead>
                    <tr>

                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div>
                <p>
                    <span id="PagingCount"></span>
                    <button value="" id="prePage" class="btn"> << </button>
                            <span id="Paging"></span>
                            <button value="" id="nextPage" class="btn">>></button>
                </p>
            </div>
        </div>
    </div>

</body>

</html>